@import "node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

body {
    background-color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person-list {
    display: flex;
    flex-direction: row;
}

.login-form-container {
    @extend .card;
    @extend .p-3;
    width: 24rem;
}
.login-form-header {
    @extend .card-body;
}
.login-form {
    @extend .card-body;
}
