@import "node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}

body {
    background-color: $light;
}

.person-list {
    display: flex;
    flex-direction: row;
}

.login-form-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.login-form-content {
    @extend .card;
    @extend .p-3;
    width: 24rem;
}
.login-form-header {
    @extend .card-body;
}
.login-form {
    @extend .card-body;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
}

.forum-view {
    @extend .container-fluid;
    height: 100%;
    > .row {
        height: 100%;
    }
}

.create-thread {
    @extend .mt-3;
    @extend .mb-3;
    @extend .pl-3;
    @extend .pr-3;
}

.thread-list {
    @extend .col-1;
    @extend .p-0;
    @extend .border-right;
    min-width: 300px;
    height: 100%;
    background-color: $white;
}

.thread-list-header {
    @extend .p-3;
    @extend .border-bottom;
    background-color: $light;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.thread-list-content {
}

.thread-view {
    @extend .col;
    height: 100%;
}

.no-thread-selected {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
